[2021-05-01 20:24] bdwilson opened #9 "vacuum voltage not properly displaying for versions > 1.0.1"
vacuum.voltage = 100 on 1.0.1
vacuum.voltage = None on 1.0.2

I've looked through the changes but didn't see anything that would stand out as causing the issue.

[2021-05-02 16:03] #9 closed

[2021-05-04 13:45] shauntarves opened #10 "Support 2FA"
https://github.com/HclX/WyzeUpdater/blob/23c9e29197332882967377e05262a8b98f926c62/wyze_updater.py

[2021-05-04 20:59] wesbos opened #11 "Camera Streams?"
Apologies if this is in the docs, but from skimming the code it doesn't support getting access to the camera's events, or live video stream, does it? Been loking for a way to do this forever, and I've always come up empty handed

[2021-05-04 22:09] romedtino commented on #11
Not sure about camera events but for live video/stream you actually have three options I know of right now

1. [WyzeHacks](https://github.com/HclX/WyzeHacks) + [WyzeCameraLiveStream](https://github.com/FiveLeavesLeft/WyzeCameraLiveStream) which works on any Wyze camera that can run WyzeHacks. (I currently have it running with a v2 and a v3 attached to [HomeAssistant](https://www.home-assistant.io/

[2021-05-05 00:54] shauntarves commented on #11
You can get camera events through the `client.events` code in this library.

There is no way I have found to give you access to the camera stream. The
native codec wyze cameras use is only supported via a java library (which
is available in various places online). I have seen other projects that
have attempted to model the data protocol, and they may have been
successful, but I don't know for sure

[2021-05-05 12:34] #11 closed

[2021-05-05 12:36] wesbos commented on #11
Thanks everyone, I'm not looking to do RTSP, so I'll search for those Java libs. If anyone knows of them please post below

[2021-05-05 12:42] shauntarves commented on #11
@wesbos https://github.com/cnping/TUTK

This is the library that is used in TinyCam and other non-official Wyze api packages people are using. Again, I've only ever seen TUTK codec libraries in Java (and believe me, I looked for others). I suppose someone could fairly easily port it to python or some other language if desired. Unfortunately, this is like a 10-year-old proprietary format that the W

[2021-05-05 17:53] jsrober opened #12 "How do I get a live video stream from a camera?"
Hi,

Is there a way to get a live video stream from a camera?

John

[2021-05-05 17:57] jsrober opened #13 "Unknown device type detected: Outdoor camera base station"
Unknown device type detected ({'mac': 'x', 'first_activation_ts': x, 'first_binding_ts': x, 'enr': 'x', 'nickname': 'Outdoor Base 2 Back', 'timezone_name': 'America/New_York', 'product_model': 'WVODB1', 'product_model_logo_url': 'https://s3-us-west-2.amazonaws.com/wyze-file/system-logo/device/small/wyze_icon_device_wvodb1.png', 'product_type': 'BaseStation', 'hardware_ver': '0.0.0.2', 'firmware_ve

[2021-05-05 20:20] shauntarves commented on #12
Hi John,

The short answer is no. The longer answer is here: #11

[2021-05-05 20:20] #12 closed

[2021-05-05 20:21] shauntarves commented on #13
@jsrober I'm not familiar with the base station, but I don't think there's much we can do with it. I'll add basic support for getting power state, ip, etc in the next minor release.

If you know of any actions you can take on the base station you want supported, let me know.

[2021-05-06 07:32] kroo opened #14 "Support `/app/user/get_user_info` endpoint"
Hey! really excited to see more progress on Wyze reverse engineering.

I would love to use `wyze-sdk` instead of my own code as the first step in [kroo/wyzecam]() (which I just pushed live, btw!), but I need to hit a slightly different `get_user_info` endpoint, as newer versions of the Wyze firmware require a 'open_user_id' property only [provided by `https://api.wyzecam.com/app/user/get_user_info

[2021-05-06 07:39] kroo commented on #11
I was able to pick up where the folks at [wyzecam-api](https://github.com/nblavoie/wyzecam-api) left off, and built a little library around accessing the streaming video here: [kroo/wyzecam](https://github.com/)

[2021-05-07 01:35] pabo opened #15 "API updates state but actual thermostat unit does not"
I'm seeing a behavior I can't explain. (Spoiler alert: by the end of this post I think I've explained it)

1. Using wyze-sdk, check the status of the fan mode, which shows `ThermostatFanMode.ON`
[code]

2. Using wyze-sdk, set the fan mode to `AUTO`:
[code]

3. Using wyze-sdk, check the status of the device. It is in fact set to `ThermostatFanMode.AUTO`
[code]

4. Using the Wyze iPhone app, check t

[2021-05-10 04:23] terrycarlin opened #16 "Wyze Outdoor Cam not found. Model WVOD1"
When I do this call, the Outdoor Cam (battery operated) doesn't show up.

client = Client(email=os.environ['WYZE_EMAIL'], password=os.environ['WYZE_PASSWORD'])

try:
    cameras = client.cameras.list()
    for camera in cameras:
        print('{} {}'.format(camera.nickname, camera.mac))

[code]

When I do this call, it returns None.
camera = client.cameras.info(device_mac='2CAA8E08992C')

I verifi

[2021-05-10 12:28] shauntarves commented on #14
@kroo I just pushed 1.1.2 to pypi with these changes. The call from the client is simply:

[code]

which returns an object like:

[2021-05-10 19:24] pabo commented on #15
@shauntarves It worked perfectly on that branch

[2021-05-10 19:31] kroo commented on #14
Cheers, thank you!

[2021-05-11 11:26] shauntarves commented on #15
Merged into 1.1.3 and published to pypi

[2021-05-11 11:26] #15 closed

[2021-05-11 14:05] terrycarlin opened #18 "The camera object contains an attribute has_motion but when referencing it I get this traceback"
[code]

[2021-05-11 14:08] terrycarlin opened #19 "Please add ssid, ip, rssi to devices where available"
These are in the device object but don't make it to the API data

These attributes are very useful to track wifi coverage issues.

[2021-05-13 04:49] terrycarlin opened #20 "Age and height missing from scale. Goal_weight is missing the value."
Would be nice to have family_member_id and measure_ts also.
The family_member_id is a key into the profile record. This will provide the name of the family member that recorded their weight. measure_ts is the date of the event. Will be useful for plotting a history of. weights.

[2021-05-13 11:23] #18 closed

[2021-05-13 11:23] #19 closed

[2021-05-13 11:27] shauntarves commented on #13
Added basic support in v1.1.4 - will just parse the object details.

If there are other features that make sense to add, open another issue and I'll work on them.

[2021-05-13 11:27] #13 closed

[2021-05-15 00:52] JohnMTorgerson opened #21 "Error when setting bulb color: "TypeError: 'PropDef' object is not callable""
Here's the error:

[code]

And the code:

[code]

Tried it on python 3.8.9 and 3.9.4, getting the same error on both. Devices are all WLPA19C color bulbs, all on firmware version 1.2.0.339. Bulbs are all online and turned on. When I comment out the set_color line and uncomment set_color_temp, the latter works just fine. No errors and it does what it's supposed to.

Not sure if it's a bug or if I'm

[2021-05-15 22:56] JohnMTorgerson opened #23 "For some bulbs, minimum temperature is 1800, not 2700"
At least for WLPA19C bulbs, the ones I have. I can take it down to close to 1800 with the Wyze app, and it also says 1800 on the box:

![IMG_1128 no metadata](https://user-images.githubusercontent.com/6146526/118380348-aa391b80-b5a6-11eb-8ebc-81eee31290eb.png)

[2021-05-15 23:50] jslay88 opened #24 "No sprinkler support"
Creating an issue for tracking purposes, but would be nice to have a sprinkler client added.

[2021-05-16 01:00] jslay88 opened #25 "No device group support"

[2021-05-16 20:47] JohnMTorgerson commented on #23
Created pull request for this issue.

[2021-05-17 00:23] #23 closed

[2021-05-17 00:23] #21 closed

[2021-05-17 00:25] shauntarves commented on #25
@jslay88 I've been working on this already. Shouldn't be too much longer.

Happy to hear your thoughts on the right way/place to expose these though. I can't decide whether to mix them right into the device type clients like `client.bulbs.groups.xxx` or `client.bulbs.groups_list` or just allow `client.bulbs.turn_on/off` to accept a `group_id` OR a `device_mac`.

Any thoughts/preferences?

[2021-05-17 00:26] shauntarves commented on #24
Do you have a sprinkler you could share with my account? I don't have one and haven't come across anyone that does.

[2021-05-17 04:14] jslay88 commented on #25
well, you could do a combination of a few things really, and all of it too.

You could have `client.bulbs.turn_on/off` have a set of kwargs as you already do, and then determine based off what was passed in to tell you what to do. One of the nice things about Python, is you can pass in a Union of anything on an arg. If for some reason, you get a group_id and a device mac, you could handle them ind

[2021-05-17 05:39] jslay88 opened #29 "No caching support"
To try and keep on the good side of Wyze, the sdk should implement caching on the api "get" calls (where states are not changing, etc), and add args to methods to override cache.

There are several methods for doing this (decorators, inline, etc), as well as existing modules/libraries from pypi that could be used.

[2021-05-17 05:51] jslay88 opened #30 "No Unit Tests"
To have better support, adoption, and contribution, it would be nice to have a set of unit tests to work against.

* Test with as many Python versions as possible with a utility such as `tox`
* Enhance unit tests by using a library such as `pytest`
* Mock Wyze API instead of sending needless requests to Wyze (several libraries for this as well).

[2021-05-17 12:57] shauntarves commented on #30
@jslay88 I have a suite of tests sitting on my machine that I haven't checked in yet. I'm pretty new to python developing, so they aren't quite as thorough as I'd like, but I will check them in on a branch and you can tell me what you think.

[2021-05-17 15:42] jslay88 commented on #30
got to start somewhere, even if they aren't perfect. contributors will pick up where they can I am sure ;)

[2021-05-17 15:43] jslay88 commented on #24
Invite was sent.

I will send another email detailing how I'd like you to handle my device, since it is setup on a live sprinkler system.

[2021-05-22 15:33] #10 closed

[2021-05-24 13:25] #20 closed

[2021-06-01 19:04] wesbos commented on #11
Looks like Wyze is swtiching to WebRTC. No leads on how to access it yet, but if anyone finds out info let me know!

<img width="602" alt="Screen Shot 2021-06-01 at 3 00 39 PM" src="https://user-images.githubusercontent.com/176013/120377060-9dc4fa80-c2ea-11eb-8419-46aedab752e6.png">

[2021-06-20 13:40] bdwilson commented on #9
This appears broken again in 1.2.1; going back to 1.0.1 continues to work as a workaround.

[2021-07-16 15:13] bdwilson opened #34 "Vacuum voltage/Battery not showing again."
vacuum.voltage = 100 on 1.0.1
vacuum.voltage = None on 1.2.1

This has been an issue before: https://github.com/shauntarves/wyze-sdk/issues/9

[2021-07-22 20:30] feliutg opened #35 "Calling the client won't let me login"
Seems something changed because I have an automation that log in automatically in my account and it stopped working. The password is fine and I can use the Wyze application as normal. Probably an API changed?

[2021-07-22 23:44] JohnMTorgerson commented on #35
Same.

[code]

[2021-07-23 00:00] taylorbernt0 commented on #35
Same here. I've been using the same username and password and these are the headers that wyze_sdk is receiving after trying to login now:

`{'Content-Type': 'application/json', 'Content-Length': '36', 'Connection': 'keep-alive', 'Date': 'Thu, 22 Jul 2021 23:54:21 GMT', 'x-amzn-RequestId': '689d8a8b-982e-4779-bfd8-0ca49dbd5cbe', 'x-amzn-ErrorType': 'ForbiddenException', 'x-amz-apigw-id': 'C5W_KEGBv

[2021-07-23 00:32] taylorbernt0 commented on #35
I found a temporary solution! Adding a user-agent header to the _get_headers function in auth_service.py works.
Example:
[code]

[2021-07-23 00:42] shauntarves commented on #35
Okay. I will take a look in the morning.

I have quite the backlog of things to address here :)

On Thu, Jul 22, 2021, 8:33 PM Taylor Bernt ***@***.***> wrote:

[2021-07-23 21:40] Antyos commented on #35
Thanks for the fix @taylorbernt0! I think I remember Wyze sent out an email a few weeks ago noting that they were dropping compatibility for older versions of their app for security reasons. Because of that, it would make sense that this small fix is the correct solution.

[2021-07-23 23:58] JohnMTorgerson commented on #35
Thanks @taylorbernt0 that worked for me too, even though I don't understand a lick of what's going on there.

[2021-07-24 19:29] TheGreatSkeeve commented on #35
Big thanks to @taylorbernt0 for that fix!  That did the trick, I'm super excited to check out this client.  Just bought so much Wyze stuff.

[2021-07-26 14:46] bdwilson opened #36 "Cancel cleaning vs. dock for vacuum"
More of a feature request, but if the vacuum returns to the dock to charge during a cleaning, there doesn't appear to be a way to cancel that cleaning via wyze-sdk.  If dock is called, it's already docked so nothing is done.  In the app, if you hit stop, it will cancel the cleaning routine (i.e. it won't pick back up where it left off after reaching 20% charge).  Hoping this is something that can

[2021-07-26 18:13] l0rddarkf0rce opened #37 "No access to base station"
I do not see any way to connect and interact with the base station that is included with the Wyze Outdoor Cam.

[2021-07-26 18:46] shauntarves commented on #37
@l0rddarkf0rce you should be able to retrieve the base station with a standard listing of devices. I don't have cameras/base stations, so I was not aware there was anything you could "do" with them.

If you want to describe what you need, should be too hard to add it

[2021-07-26 18:48] shauntarves commented on #36
Hey @bdwilson,

Good catch - this is just an oversight on my part. I am finally planning to implement some fixes that have been piling up, so I will include this.

[2021-07-26 18:48] shauntarves commented on #35
Hey all...I will get a permanent fix in for this shortly. I've got a handful of fixes piling up, just need a bit of time to work them.

[2021-07-27 06:55] NewMountain commented on #35
@taylorbernt0 Totally worked for me as well. Thank you so much!

[2021-08-10 07:07] romedtino commented on #34
If you want to temporarily work around this and modify your site-packages/wyze_sdk copy, you can change

https://github.com/shauntarves/wyze-sdk/blob/master/wyze_sdk/models/devices/vacuums.py#L542 from:

[code]

to

[code]

Not too great with my python and the code shaun has is a bit complicated for me but I think the issue is `device_params` exists in `others` when calling `_extract_property` whi

[2021-08-11 16:00] #35 closed

[2021-08-11 16:31] #34 closed

[2021-08-12 02:00] anthonystabile commented on #29
**I second this request!**  I implemented wyze-sdk as an interface in [Pytomation](http://www.pytomation.com/).  Most of the other Pytomation interfaces work with local hardware, instead of cloud based providers, and perform polling updates once every few seconds.

As such, I was reluctant to code the update methods until I have reasonable throttles in place (i.e. check on a light status more freq

[2021-08-12 13:06] shauntarves commented on #29
Hey @anthonystabile, I'm not sure that this library is the correct place to add caching support. In my opinion, this is "low-level" code to abstract the various API patterns/endpoints that Wyze uses into a common pattern of methods and models. It should be the next level up (the "application" layer) that adds support for caching and other performance-related functionality.

tl;dr; I don't plan on

[2021-08-12 13:54] shauntarves opened #38 "No doorbell support"

[2021-08-12 16:23] shauntarves commented on #38
That would be great!

What kinds of things do you want to do with the doorbell? I assume standard
things like "is there motion" or "get the list of events", but what else?

On Thu, Aug 12, 2021 at 12:06 PM Anthony Stabile ***@***.***>
wrote:

[2021-08-12 16:43] anthonystabile commented on #38
Do you know the mechanism behind how the Wyze app receives notifications?  I was curious if it was a push type method that can be utilized.

An async listener for the doorbell button/trigger would be a great feature.

In order to be a good Wyze API client, I have been adverse to implement any type of frequent polling mechanism for real-time events (such as sensors).

______________________________

[2021-08-23 21:29] softlogix-io opened #39 "Control door lock pincode via API"
Hello,
I'm looking to control the pincode for the door lock over the web. I want to be able to automate the creation and removal of pins programmatically.
Thank you.

[2021-08-31 19:17] EdLipson5117 opened #40 "Access to Rules"
Is there a way to access the Rules used with a device? I've been searching and not finding any methods which access rules or properties of devices where rules are specified.

[2021-08-31 20:58] shauntarves commented on #40
There is not currently a means for that, but something I would love to add.
Keep this issue open as an enhancement request and I'll get to it soon!

On Tue, Aug 31, 2021 at 3:17 PM EdLipson5117 ***@***.***>
wrote:

[2021-09-01 11:01] EdLipson5117 commented on #40
I don't know enough about github to add that label.

[2021-09-01 23:09] JohnMTorgerson opened #41 "Any way to expose whether a mesh bulb is currently displaying color or white?"
I haven't been able to find anything in the provided bulb info that indicates whether a mesh bulb is currently in color mode or white mode. Wondering if there's anything the bulb can give you that would allow you to expose it via the API? It's something that would be useful to know for my application, if it's possible to do.

[2021-09-02 12:56] shauntarves commented on #41
Hi John,

The mesh/color bulb has 2 fields related to color: temperature and color.
The logic in the Wyze app appears to toggle whether the bulb is in white or
color mode based on whether the temperature property is set and non-zero.
Give that a shot?

On Wed, Sep 1, 2021 at 7:09 PM John Torgerson ***@***.***>
wrote:

[2021-09-14 10:41] Usama-Aslam23 opened #42 "Thermostat lock state update does not reflect in mobile application."
When we set thermostat lock state using the API it goes through fine and updates the key in info as well but same does not reflect on mobile application.

[2021-10-18 13:17] kwpodolsky opened #43 "Two issues with 1.2.2"
Version.py references 1.2.1, not, 1.2.2
Everytime I connect to the Wyze service I get hit with the Enter Wyze SMS 2FA Verification Code, which requires manually entereing the code sent via SMS, into the running app.
Is there a way to either disable the 2FA requirment or maybe create an authentication certificate to avoid this?
Is that possible?

[2021-10-25 00:15] JohnMTorgerson commented on #41
Hey, thanks for getting back to me, sorry about the delay responding to you. The python API seems to report the last used temperature and the last used color setting for each bulb regardless of which mode it is currently in, so it seems there's no way (currently) to tell which. Is it perhaps the case that the bulb itself is updating/erasing the temperature value when put into color mode but the AP

[2021-11-02 13:39] TheGreatSkeeve opened #44 "Any plan to add functionality for the Watch?"
Specifically heart rate monitor data, I'm trying to bake that into a bot that'll tell me when my BPM is spiking instead of...I guess buying a cuff / alarm like a normal person.

[2021-11-09 23:30] wkrasner opened #45 "Key Error"
Hi  I downloaded the python sdk as per instruction when I execute the routine to get a list of devices it looks like I am having an authentication issue.  The error is as follows:

Traceback (most recent call last):
  File "P:\wyze2.py", line 5, in <module>
    client = Client(email=os.environ['xxx@gmail.com'], password=os.environ['xxxx'])
  File "c:\python39\lib\os.py", line 679, in __getitem__

[2021-11-10 00:05] shauntarves commented on #45
Hi Will,

That’s not how the environment variables work. If you are t familiar with
using them, please just use Client(email=<your email>, password=<your
password>).

Also, please change your password now that you’ve put it here so your
account doesn’t end up compromised.

On Tue, Nov 9, 2021 at 6:30 PM wkrasner ***@***.***> wrote:

[2021-11-10 09:14] wkrasner commented on #45
Thank you.  I missed the password in the post.  I appreciate the heads up.  I have never used the environment variables in python before,  but looked up how to use them.  I assuming I have to set the environment variables to my wyze credentials.  I did that and still get the same error.  My aplogies I am new to python.

Will

[2021-11-10 15:22] shauntarves commented on #45
Depending on whether you use Windows or Mac/Linux, the process is a bit different.

If you were using a Unix-type machine and working in a Terminal shell, you'd do something like:
[code]
to set the variables. Then, your python code would reference them by the key(s) you used when setting:

[code]

There's not much advantage to using the environment variable approach if you're just writing a script

[2021-11-10 15:22] #45 closed

[2021-11-10 15:26] shauntarves commented on #44
I have started watch support, but haven't finished it yet. I ran into some difficulty since I don't actually own a watch (or the older band/activity tracker). There's a proximity pairing that needs to happen to really play around with the API calls in an effective way.

I'm happy to dust this off if there's interest, but I won't be able to make much headway unless a) I/you buy a watch I can test w

[2021-11-10 15:26] wkrasner commented on #45
Shaun

 Thank you very much I did actually take your suggestion of the latter and
it works perfectly. I was curious where I could find some syntactic support
for the actually controlling the vacuums.

Thank you again

Will

On Wed, Nov 10, 2021, 10:22 AM Shaun Tarves ***@***.***>
wrote:

[2021-11-10 15:33] shauntarves commented on #43
Hi @kwpodolsky, sorry for the delayed response.

I'll fix the version.py thing in the next release. Thanks for letting me know.

As for the 2FA code, there is support for using a TOTP key, which will allow you to keep 2FA enabled, but not have to type in a code every time. I haven't added it to the docs yet apparently, but it's there! Something like this will work:

[code]

See https://github.com/

[2021-11-10 15:33] #43 closed

[2021-11-11 10:21] wkrasner opened #46 "Vacuum and Rooms"
First  I want to thank you for putting this project together.  I am able to get the vacuum to vacuum a specific room based on the syntax you posted.  Is there anyway to just have it sweep all rooms on the map?

Thanks

Will

[2021-11-11 15:28] shauntarves commented on #46
Hey @wkrasner,

I'm not sure what happened to the doc generation, but it appears busted now. I'll take a look at that. The short answer is, of course you can!

[code]

[2021-11-11 15:28] #46 closed

[2021-11-11 18:08] JoshuaMorris opened #47 "Are there any plans to control the Wyze Car?"
I'm exploring options to control the Wyze Car using a raspberryPI running between the Camera using the RTSP firmware and Car. Looking into what options are available what insight or suggestions you might have to offer based on your experience

[2021-11-11 22:59] wkrasner commented on #46
Thank you  .  Works great!

[2021-11-12 10:54] wkrasner opened #48 "Device Properties"
Just one more question. Sorry to bother you,  I am guessing when the document methods link is up again I won't be a pest (LOL). Is there any way to get the charge state of a vacuum's battery charge level from the device method?  I did find some other related properties on the internet  (ie IP address)  but nothing in detail.  Thanks

Will

[2021-11-12 14:04] #48 closed

[2021-11-12 14:05] shauntarves commented on #47
hey @JoshuaMorris, this sounds like a fantastically fun project. Hit me up by email shaun <at> tarves "dot" net and we can chat some more about what it will take

[2021-11-12 14:05] #47 closed

[2021-11-14 09:19] xandrade opened #49 "Enhancement request: push event notification"
@shauntarves this a really notable Python package!
Any plan for adding push notification from the events?

[2021-11-20 20:46] GeraldMaffeo opened #50 "Unknown device type detected - Lock Gateway"
Unknown device type detected - Lock Gateway spews  immediately after call to client.devices_list()
- Yet the lock gateway and door lock both appear in the device list.
- SDK lock code throws an Invalid argument exception (errno 22) from the client.locks.info line using the lock’s MAC.
- Selecting the lock device by matching with the same MAC in client.devices_list works (with limited functionality

[2021-11-21 19:04] dhysom opened #51 "thermostat fan question"
Is there a way to turn the thermostat fan on/off independent of heating? The only choices appear to be AUTO, CYCLE, ON.

ON appears straight forward.
AUTO I assume means something like, "let the furnace decide" or "turn on when heating, possibly after a delay."
CYCLE I'm guessing is "run for X minutes hourly.

I haven't discovered (is it possible?) to turn the fan on/off independently of heating o

[2021-11-22 02:01] terrycarlin opened #52 "Login Failure: TypeError: 'NoneType' object is not subscriptable"
This has been working for quite a while without any changes. A few weeks ago it started failing and I haven't changed a thing.
This is basically the same code as the example code from the README pages.
I am able to log onto the wyze app with the same login.

/usr/local/bin/python3.9 /Users/tcarlin/PycharmProjects/wyze-sdk/wyze_devices.py
Traceback (most recent call last):
  File "/Users/tcarlin/Py

[2021-11-24 19:40] WindJunkie opened #53 "Getting images for camera events"
I am trying to get images/videos from the camera events, and I cannot get it to work. I am able to get to the EventFile list, and I see image and video files associated with events. The EventFile objects have a URL, but when I try to access the URL (in S3), I get the error:

The request signature we calculated does not match the signature you provided.

Looks like the URL has a signature embedded,

[2021-11-25 02:08] WindJunkie commented on #52
FWIW the login is working fine for me today, with a freshly installed SDK. From the error it appears that response is completely empty for you. Any chance this was a temporary issue?

[2021-11-27 04:54] terrycarlin commented on #52
It's working now. It was down for a full day. It filled up my syslog file putting a traceback every 15 seconds. Will close.

[2021-11-27 04:54] #52 closed

[2021-11-27 04:54] terrycarlin commented on #52
Seems to be a Wyze server error.

[2021-11-28 13:14] faanskit commented on #40
BUMB
Made an attempt, but competence in Python is to weak. Get a 1001 or 1004 error...

**Step 1 - List rules**
[code]
In my attempts, I either get a 1001 (Invalid parameter) or 1004 (Signature2 is invalid).
In the response to the app, a list of Rules are returned:

[code]

**Step 2 - Execute a rule**
A rule is then executed via this command according to the logs:
[code]

I hope my short scribblin

[2021-11-28 21:37] vtwaldo21 commented on #50
This is because this code expects the name to be 'gateway' and Wyze is returning 'GateWay'. This is fixed in a pull request #54

[2021-11-29 04:45] vtwaldo21 opened #55 "open_close_state_ts not exposed for contact sensors"
As best as I can tell, there is no way to get the open_close_state_ts (timestamp) value of a contact sensor. This is part of the device_params array attribute.  There is an attribute for open_close_ts but I don't understand how to use it.

This value is useful for automations that want to trigger off the switch has been open for X time. E.g. The refrigerator has been left open for 5 minutes.

[2021-11-30 13:40] shauntarves commented on #50
`gateway` lowercase has always worked in the past. @vtwaldo21 thank you for the PR, I'm going to take a look and run a few local tests, and will get it merged in.

[2021-11-30 13:41] shauntarves commented on #55
@vtwaldo21 I am pretty sure it's in there, and has been for a while. The problem is that my doc generation stopped working so there are loads of things that aren't in the docs that would make everyone's lives much easier. Going to spend some cycles on that soon to figure out what's going on. If needed, I'll merge your PR. Thanks for contributing!

[2021-11-30 19:51] RMCob opened #57 "Vacuum support for homebridge-wyze-connected-home-op"
I am looking to add the vacuum support provided here into https://github.com/RMCob/homebridge-wyze-connected-home-op and wanted to check if anyone was already working on that. Thanks in advance for any replies...

[2021-12-01 22:18] WindJunkie commented on #53
I did a bit more trying with the new (Beta) browser based viewer for Wyze. If I capture the Wyze viewer requests/responses to the Wyze API, they return links for images/videos with a working signature. I can copy/paste the link into a different browser and access the file behind that link. So this looks to be possible, but the question is how (or if I am doing something wrong).

[2021-12-01 23:30] WindJunkie commented on #53
OK, it turns out I was doing something wrong. The URLs returned in the SDK work fine if you request them in the same Python client that returned them. They just don't work if you copy/paste them to the browser. So this works fine!

[2021-12-01 23:30] #53 closed

[2021-12-02 17:42] RMCob opened #58 "Can't install on RPi 4"
I am trying to install your SDK on my RPi and it fails, saying it can't find the distribution. The same command
works fine on my Mac.

python3 --version = 3.7.3 on Rpi,   = 3.8.3 on Mac

Using the following command:      python3 -m pip install wyze-sdk

I also tried:   sudo python3 -m pip install wyze-sdk
and got the same results. The documentation indicates that using "wyze_sdk" for the distribut

[2021-12-02 20:44] anthonystabile commented on #58
I had to install Python >= 3.8 on my Raspberry Pi before I got the wyze-sdk to work.

$ python3.8 --version

Python 3.8.11

Hope this helps!

 - Tony
________________________________
From: RMCob ***@***.***>
Sent: Thursday, December 2, 2021 12:42 PM
To: shauntarves/wyze-sdk ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [shauntarves/wyze-sdk] Can't install on RPi 4 (Issue #58)

I am trying to i

[2021-12-02 20:53] RMCob commented on #58
The problem seems to be the requirement for version 3.8.3 of Python. When I downloaded the source code and changed the requirement to be >= 3.7.3, I was able to install from the source.

When I tried "sudo apt-get upgrade python3" it tells me the latest version is 3.7.3.

ps: My system is the totally up to date.
      Linux morph-pi 5.10.63-v7l+ #1457 SMP Tue Sep 28 11:26:14 BST 2021 armv7l GNU/Li

[2021-12-02 20:54] anthonystabile commented on #58
I left the default Python 2.7 and 3.7 installations untouched and installed a new 3.8 dedicated for my home automation setup. I use pytomation and I wrote a custom interface that utilizies Shaun's wyze-sdk (let me know if you want the source.)
________________________________
From: RMCob ***@***.***>
Sent: Thursday, December 2, 2021 3:53 PM
To: shauntarves/wyze-sdk ***@***.***>
Cc: Anthony Stabile

[2021-12-02 21:00] RMCob commented on #58
Thanks for the offer but I have everything that I need working for now. I am the owner of homebridge-wyze-connected-home-op and am working to add Shaun's Vacuum functionality to that plugin in order to expose it to HomeKit.

[2021-12-02 21:08] anthonystabile opened #59 "No Light Strip Support"
Greetings,

I recently picked up a few Wyze light strips (regular and pro) and am hoping to see support for these in the future.  I would be happy to help develop and/or test.

I also have the battery powered outdoor cams, doorbell, cam pan v2 and a Wyze car.  If support for any of these are in the roadmap please let me know how I can help out.

Email:   **anthony "at" stabile "dot" com**

Thanks

[2021-12-02 21:12] shauntarves commented on #58
3.8 is required, in fact, 3.9 is probably best.

On Thu, Dec 2, 2021 at 4:00 PM RMCob ***@***.***> wrote:

[2021-12-07 18:16] GeraldMaffeo commented on #50
That’s great! Any idea when the update might appear in github?

From: Shaun Tarves ***@***.***>
Sent: Tuesday, November 30, 2021 5:40 AM
To: shauntarves/wyze-sdk ***@***.***>
Cc: Gerald Maffeo ***@***.***>; Author ***@***.***>
Subject: Re: [shauntarves/wyze-sdk] Unknown device type detected - Lock Gateway (Issue #50)

gateway lowercase has always worked in the past. @vtwaldo21<https://github.com/v

[2021-12-20 15:09] svanhoutte opened #60 "Date issue in Scale get_records query"
Hello

I m trying to get the get_records working for the scale. when i call the function it seems it doesn't take into account the start_time, i can put anything the result is always the same if provides all the records. When i enter the end_time with it i get and error as bellow :
Traceback (most recent call last):
  File "./scale.py", line 23, in <module>
    print(f"weight: {client.scales.get_r

[2022-01-03 00:19] boilerbots opened #62 "Wrong package for PyPi"
Your PyPi package command should be `pip install wyze-sdk`  you might want to fix that in case someone hijacks that other.

[2022-01-03 20:10] shauntarves commented on #60
Hi @svanhoutte,

That method accepts a python datetime object, like this:
[code]

[2022-01-03 20:10] #60 closed

[2022-01-03 22:17] shauntarves commented on #62
Hi @boilerbots ,

I appreciate the concern! Best I can tell, pypi actually has associated my project with the `_` version as well. Notice that https://pypi.org/project/wyze_sdk/ redirects to https://pypi.org/project/wyze-sdk/ and either version in the command `pip install wyze_sdk` or `pip install wyze-sdk` install my project correctly.

I'm not entirely sure why this is or if I happened into it b

[2022-01-03 22:17] #62 closed

[2022-01-11 23:53] romedtino opened #63 "Wyze Vacuum Beta Firmware Bug - Multi Level Floors"
I think with the newer/beta version of the Wyze Vacuum, the protobuf map definition [_robot_map_proto](https://github.com/shauntarves/wyze-sdk/blob/a8933f714618894a13a4d272bc2cb3c0475edd0a/wyze_sdk/models/devices/vacuums.py#L218) has changed so some users are experiencing crashing when asking for `sweep_rooms`

See here for examples of crashing - https://github.com/romedtino/simple-wyze-vac/issues

[2022-02-01 12:31] iceman73 opened #64 "Can Filter and Brush Life be retrieved with SDK?"
Like the title states, can this be retrieved from the API?

[2022-02-13 17:24] duckredbeard opened #65 "Make this run faster?"
I am trying to replace the contact switches with magnetic reed switches connected to my Raspberry Pi.  I am having some delay in getting the lights to come on when the door is opened.  It takes about 7 seconds for the lights to respond when I open or close the door. I'm thinking lines 24-26 and 48-50 should be somewhere else (bulbS1 etc. assignments), so that their state is already known before th

[2022-02-19 01:58] TheGreatSkeeve opened #66 "Support for Wyze Switch"
New product - https://wyze.com/wyze-light-switch.html

Is this already supported, and does it plan to be supported?

Thanks!

[2022-03-14 01:51] TheGreatSkeeve commented on #65
I could be wrong, but in my experience it looks like what's holding you up is creating all the Wyze objects (**bulbS1 = client.bulbs.info(device_mac='2CAA8E5B0550')**) inside your functions.  I've been coding a Discord bot that does various Wyze bulb things, and initializing all the 30+ bulbs is what takes the longest.

You could make a loading function that you call when the program starts, that

[2022-03-14 01:53] TheGreatSkeeve commented on #65
I could be wrong, but in my experience it looks like what's holding you up is creating all the Wyze objects (bulbS1 = client.bulbs.info(device_mac='2CAA8E5B0550')) inside your functions. I've been coding a Discord bot that does various Wyze bulb things, and initializing all the 30+ bulbs is what takes the longest.

You could make a loading function that you call when the program starts, that initi

[2022-03-16 11:04] duckredbeard commented on #65
Thanks for your reply.  I found that moving the "bulbS1 = client.bulbs.info(device_mac='2CAA8E5B0550')" and other assignments to the top of the code (with the passage door button assignments) to be the fix.  The lights now turn on almost instantly.  Previously, they took 5-8 seconds.  Last step is to add a PIR to the code so that motion in the stairway keeps the lights on.

[2022-03-16 18:03] fieldsjm opened #67 "Looking for example JSON for events"
Wondering if you would be willing to post an example of a working JSON for getting events.  I am doing some test for another project and cannot seem to formulate the parameters correctly.  I tried to follow you code but python is not my thing.  Thanks in advance.

[2022-03-21 16:13] shauntarves commented on #67
This will get you all events for all devices in the last 24 hours:
`client.events.list(begin=datetime.now() - timedelta(hours=24), event_values=[EventAlarmType.MOTION, EventAlarmType.SOUND])`

You can optionally filter by specific devices and/or event types based on the documentation here: https://wyze-sdk.readthedocs.io/en/latest/wyze_sdk.api.html#events

[2022-03-24 00:12] Energiz3r opened #68 "Feature request: Take Picture on Wyze Cam"
Per title; if possible the functionality to trigger a wyze cam to take a photo would be immensely useful. Saving a snap to SD card is something they can do using the Wyze app. Thanks!

[2022-03-30 18:26] romedtino commented on #64
I poked around a little for this and found this endpoint

`https://wyze-venus-service-vn.wyzecam.com/plugin/venus/get_iot_prop?keys=main_brush%2Cside_brush%2Cfilter%2Cdishcloth&did=VAC_DID_NUMBER&nonce=1648664542813`

which returns

[code]

But the values for filter, side_brush and main_brush don't correlate to what I see in the app: -28hrs, 22hr and 122hrs 🤔🤷‍♀️

[2022-03-30 18:35] romedtino commented on #64
Ohh, the value returned is the hours used for each component and they just subtract it from their "recommended" max hours of usage

main brush: 300 hrs
side brush: 200 hrs
HEPA filter: 150 hrs

[2022-03-30 20:37] romedtino commented on #64
I was able to add some semblance of this feature in my fork - See commit here - https://github.com/romedtino/wyze-sdk/commit/a21c22dea59a54ae235c8304c835d44d537c8dfd

If you're interested shaun, I can do a PR of this let me know

[2022-04-05 22:05] iceman73 commented on #64
This worked, Thankyou

[2022-04-06 14:03] C4PT41ND34DP00L opened #70 "How to access camera?"
I am struggling on how to access the cameras any help?

[2022-04-19 02:41] TheGreatSkeeve opened #71 "Contact Sensors issues"
Hello!

I'm able to pull contact sensors from my Wyze account, I can see nicknames, macs, rssi, etc, but all of them are showing as closed when this is not the case.  sensor.is_open returns False for everything.

Additionally, it looks like the wiki might be mislabeled -  It's got Contact Sensors and Entry Sensors, but the only thing under Entry Sensors is Motion Sensors.

I did try client.entry_s

[2022-04-19 02:43] TheGreatSkeeve commented on #70
Give this a go.

`import cv2
from wyze_sdk import Client
from dotenv import load_dotenv
import os
from datetime import *

load_dotenv()
username = os.getenv('wyze_email')
password = os.getenv('wyze_password')
client = Client(email=username, password=password)

cameras = {}
for cam in client.cameras.list():
    if cam.is_online == True:
        cameras[cam.nickname] = "rtsp://%s:%s@%s/live" % ("use

[2022-04-19 02:46] TheGreatSkeeve commented on #68
My code [here](https://github.com/shauntarves/wyze-sdk/issues/70#issuecomment-1101937451) might be helpful if you're okay with Python.  Can be adapted to take pictures with whatever frequency you want, saves them locally.

[2022-04-23 03:28] duckredbeard opened #72 "Token expiration"
I added a few wyze lights controls to my home security python program.  The doors at the top and bottom of the staircase have reed switches that my home security sees as buttons.  When a door opens, two wyze bulbs turn on and time out for 30 minutes.  If the door closes, they time out at 6 minutes.  Everything works as I describe but only for a few days.

What I am finding is that the program thro

[2022-04-23 04:14] anthonystabile commented on #72
As a workaround, I restart my python instance daily via crontab; however, I did experiment with calling client.refresh_token() within a try catch block.

My code is having issues catching the error.   Maybe Shaun can provide more insight in best practices.

[2022-04-23 04:29] duckredbeard commented on #72
The concern I have with restarting this daily is that I don't know how to kill it before each restart.  Wouldn't want to have many instances of it running, even though each was dead.

[2022-04-23 18:13] anshuarya commented on #72
[code]

I use the code block above to refresh the token in a loop (every 10 min in my case).  My script usually stays alive/connected indefinitely.  Internet dropping or some other error typically kills it first.

[2022-04-25 03:37] duckredbeard commented on #72
My experience with python is quite limited.  How do I make this loop inside what I posted in my original post?

[2022-04-27 04:17] Jeppedy opened #74 "Thanks for all your past work... Any plans to address multi-level mapping for their Vac?"
I'd love to invoke my wyze robot vac when no one is home to be disturbed by it.  But I have the multi-map firmward.  Any chance you're still maintaining and advancing this project so we can automate the cleaning schedules of our Wyze Vacs?

Thanks for the considerations!!

J

[2022-05-01 15:12] shauntarves commented on #74
Hi @Jeppedy I would love to give it a shot. I don't know if I've installed the multi-level firmware on my own vacs yet, but I can give it a try with at least one of them. I'll track this work in the existing issue #63

[2022-05-01 15:12] #74 closed

[2022-05-01 15:13] shauntarves commented on #63
Hi @romedtino,

Thanks for reporting this. I haven't tried the new firmware on my own vacuum, but someone else reported this same issue so I don't mind give it a look.

Bear with me while I find a little bit of time to work on it.

[2022-05-01 15:27] shauntarves commented on #72
Hey @duckredbeard and @anshuarya,

Thanks for using this library. I'm happy to help with any kind of issues you're seeing, but if I understand correctly, this is just a matter of understanding _how_ to use the refresh token capability in your own script?

As a bit of background, the Wyze app/api use oauth for authentication and authorization. With the oauth protocol, you basically exchange your us

[2022-05-01 15:27] #72 closed

[2022-05-01 15:39] shauntarves commented on #71
Hey @TheGreatSkeeve,

Thanks for your interest in this library. I'm doing my best to maintain it but often lack the time. So, a few things about your specific issue(s):

1. The wiki is definitely confusing. I tried to name things in a way that didn't break my brain, but wyze calls the contact sensors "entry" sensors in their app. That's the reason both of those terms are used. But I agree with you

[2022-05-01 15:45] shauntarves commented on #68
Hey @Energiz3r,

Thanks for your interest in this library. A bit of background here...

Previously, all wyze cameras operated on a proprietary-ish protocol that only had a Java library available. There's a long-er explanation in https://github.com/shauntarves/wyze-sdk/issues/11

As RTSP protocol becomes more widely implemented on the wyze cams, there's definitely an opportunity to add some basic c

[2022-05-01 15:47] shauntarves commented on #70
@C4PT41ND34DP00L ,

Hopefully this gets you what you need in the short-term. Thanks to @TheGreatSkeeve for contributing this bit of code. I have hesitations about attempting to add camera support for a variety of reasons, mostly discussed in the other linked issues. I'm open to being swayed though!

[2022-05-01 15:49] shauntarves commented on #66
Hey @TheGreatSkeeve,

This would be an awesome addition. Hopefully it's pretty similar to the plug. I'd be happy to give this a go if you either a) want to send me a switch or b) don't mind sharing yours with my account for a little while so I can see how it's implemented.

Let me know. If it's easier to email, I'm shaun <at> tarves <dot> net

[2022-05-01 15:50] shauntarves commented on #65
You guys are awesome. It makes me so happy to know people found this useful. I wish I had more time to keep tinkering with it. I'm trying to keep up with al the devices and requests.

[2022-05-01 15:50] #65 closed

[2022-05-01 17:41] romedtino commented on #63
Awesome to hear you're still around! Really love your work here. Makes owning Wyze products more interesting to use 🥳

[2022-05-01 18:18] TheGreatSkeeve commented on #71
So, nothing actually gets returned when I run that command - entry_sensors is empty.  Is it possible the newer ones aren't classified the same way?

I can send over the output via email, it essentially looks like a full dump of my Wyze config and even if I sanitize it I'll probably miss something I don't want public.  I can also share entry sensors with you if that would be helpful.

Thanks again!

[2022-05-01 18:21] shauntarves commented on #71
Yeah definitely send them.

There is usually at least an error/warning if the device has a model number
that I haven’t accounted for.

On Sun, May 1, 2022 at 2:19 PM THC-Lab ***@***.***> wrote:

[2022-05-04 19:02] romedtino commented on #64
Works for me 👍.

[2022-05-04 19:25] romedtino opened #75 "Use more relaxed version of blackboxprotobuf"
Since `wyze-sdk` has a dependency on `blackboxprotobuf`, the version of `protobuf` it uses is very strict ([3.10.0](https://github.com/ydkhatri/blackboxprotobuf/blob/master/requirements.txt)). There are other components as part of Home Assistant that require a completely different version. This is problematic on Home Assistant since it kind of dumps all different versions of its dependencies in th

[2022-05-05 16:35] shauntarves commented on #64
@romedtino can you check out the branch and see if it suits your needs? After calling `vacuum.info(...`, you should now have access to the supplies like:

[code]

[2022-05-05 16:36] shauntarves opened #76 "Error parsing older vacuum maps"
Certain vacuum maps fail to parse with errors like:

[code]

[2022-05-05 17:53] shauntarves commented on #75
Oh man, this is a gnarly, entangled mess. So the version of `blackboxprotobuf` that's available on pypi is actually a [fork](https://github.com/ydkhatri/blackboxprotobuf) of the [original library](https://github.com/nccgroup/blackboxprotobuf).

There's been literally no development on that fork for 2+ years except for recently accepting a patch that fixes a typo in the code.

Even on the [most rec

[2022-05-05 18:46] romedtino commented on #64
Yep! Just tried and it looks good to me
[code]
  I'll change my side brush soon I promise 😅

[2022-05-06 15:07] #76 closed

[2022-05-07 17:18] Chaserrrr commented on #44
I'm interested. What's the priority of this?

[2022-05-11 22:10] #58 closed

[2022-05-12 16:43] romedtino commented on #63
I have been avoiding that firmware since it's been in beta for so long now and it feels like Wyze is having issues with it x_X... as far as I know there isn't an easy way to rollback either so I don't think I can test this out for you. Sorry!

[2022-05-17 23:07] #70 closed

[2022-05-21 01:01] #57 closed

[2022-05-21 02:15] shauntarves commented on #55
@vtwaldo21 Please check out https://github.com/shauntarves/wyze-sdk/tree/55-open_close_state_ts-not-exposed-for-contact-sensors if you're still interested in this functionality. I added a new `last_updated` property to sensors to return a `datetime` object noting the last time sensor's open/close or motion/no motion state changed.

I'll merge this into the main code if I don't hear back from you i

[2022-05-21 02:18] shauntarves commented on #71
Looks like that was the issue - there are new model numbers for the entry and contact sensors. I don't have any of these newer ones to try out, but feel free to check out https://github.com/shauntarves/wyze-sdk/tree/71-contact-sensors-issues and let me know if it works for you.

I'll merge it into the main code base if I don't hear from you in a few days and we can investigate more if it doesn't w

[2022-05-30 21:15] TheGreatSkeeve commented on #71
Hey man-

That was it - the link your sent works for me.  Thanks again, sorry for the late reply, been busy.

Take care!

[2022-06-02 16:39] JGirard8 commented on #66
Hey @shauntarves

If @TheGreatSkeeve hasn't been able to share a switch to you for testing, I'm more than happy to! Please let me know which account to share it to.

I'd love to be able to control the Wyze Switch via this SDK!

[2022-06-02 16:50] TheGreatSkeeve commented on #66
@JGirard8 It's the same email he provided in his response. I did share it, but the share is listed as pending. Might not hurt to share yours!

[2022-06-02 17:30] TheGreatSkeeve commented on #66
Dude, I think something got buggered on my end. I kid you not, I got three pop ups stating I'd shared stuff with you every time I opened the app - for like three weeks.

[2022-06-03 18:46] MysticNynja commented on #47
Was this enhancement made? I'm not seeing anything in the repo for a car type

[2022-06-07 08:48] jslay88 opened #81 "Wyze HomeKit Bridge Project -- Looking for Contributors"
I have been piecing together (albeit, extremely slowly) a HomeKit Bridge Accessory implementation via [`HAP-python`](https://github.com/ikalchev/HAP-python) from @ikalchev. I know @shauntarves has been asking for me to publish this for some time now, so here it is (maybe can get a link in README?).

Currently, it can auto-discover light bulbs and thermostats, and map them to HomeKit accessories ac

[2022-06-07 21:16] shauntarves opened #82 "running Bulb.to_dict() on any bulb raises WyzeFeatureNotSupportedError("color")"

[2022-06-07 21:22] #82 closed

[2022-06-07 21:27] shauntarves opened #83 "Support for Wyze Bulb White"
New bulb type requires refresh of how we handle bulbs. There is a new device model `HL_HWB2` that needs to be added and it appears to be a similar management schema as the light strip `HL_LSL` and light strip pro `HL_LSLP`.

Additionally, there are a handful of lingering bulb-related issues that can be fixed:
* https://github.com/shauntarves/wyze-sdk/issues/41
* https://github.com/shauntarves/wyze

[2022-06-08 19:01] shauntarves opened #84 "Setting away_mode on Wyze Bulbs raises AttributeError"
white bulbs raise AttributeError: 'function' object has no attribute 'pid' referring to api/devices/bulbs.py:BulbsClient::_set_away_mode_disabled (super()._api_client().set_device_property(mac=device_mac, model=device_model, pid=prop_def.pid, value="0"))

[2022-06-08 19:02] #84 closed

[2022-06-28 12:50] Sfrjoshpro opened #86 "Off after time stopped working"
Was using the plug off function with time delay just fine.  One day it stopped working and I had to set rule in Wyze app to turn off now

Still can turn on and off with api just no delays

[2022-06-28 12:51] Sfrjoshpro commented on #86
Not sure what information you all would like to see

[2022-09-16 16:13] SpringStStays commented on #39
I second this! I really would love this :)

[2022-09-25 03:01] jspalink opened #87 "Discarded start_time for retrieving records from Wyze Scale"
First of all, thank you for this library - this is exactly what I've been looking for for building a connector from Wyze to Garmin Connect.

https://github.com/shauntarves/wyze-sdk/blob/284172fffe86c65a404a0e95e55535a11def597a/wyze_sdk/service/scale_service.py#L167

The start_time isn't passed to the wyze endpoints - instead the entire history is retrieved as the start_time is set here to 0.

[2022-09-26 02:54] Rehman799 opened #88 "Authentication"
Hello,
Can you please how to authenticate the Wyze bulb without using the Wyze App?I have developed my custom Mobile Application to Control the smart devices.

[2022-09-26 21:25] shauntarves commented on #87
You're welcome to submit a PR for things like this that you find. I'm actually about 90% sure that when I coded this, the API wasn't actually honoring a non-zero `start_time`. I can play around with it a bit and see if that has changed. Or, if you have tinkered locally and confirmed it works, submit a PR and I'll merge and release

[2022-09-28 17:56] shauntarves commented on #66
Hey guys, finally picking back up on this. I can still see @JGirard8 's switch, but only for limited actions (can't see schedule-related stuff).

I should be able to get some basic support in shortly. Thanks for everyone's patience.

[2022-09-28 18:09] shauntarves commented on #86
Hey there...if you'd be able to share a plug with me, I can look into this. It's possible that my upcoming fixes for the bulb will fix this because they seem to have shifted the old devices over to a new API.

Let me know if you can do this. Otherwise, it might be some time. I don't have a plug that works right now.

[2022-09-28 18:10] shauntarves commented on #88
You can just use this library to authenticate and get a token

[2022-09-28 18:10] #88 closed

[2022-09-28 18:14] shauntarves commented on #51
Hey @dhysom sorry it has taken me so long to address this.

I don't have access to a thermostat, but I'd be happy to fix this if you'd be willing to share your device with me (even just temporarily).

Let me know.

[2022-09-28 18:17] shauntarves commented on #42
Hey @Usama-Aslam23, sorry it has taken me so long to address this. I do t currently have a thermostat, but if you'd be willing to share yours with me via the app, I can take a look and fix this.

Let me know!

[2022-09-28 22:45] Sfrjoshpro commented on #86
Id love to work with you.   Share
The plug as in remote?

On Wed, Sep 28, 2022 at 14:09 Shaun Tarves ***@***.***> wrote:

[2022-09-29 02:56] shauntarves commented on #86
You can share it right from the app. That will give me read limited access
to some functions of the device.

If you go into the settings of the specific device, you can find the share
function.

My email is shaun <at> tarves <dot> net

On Wed, Sep 28, 2022 at 3:45 PM Sfrjoshpro ***@***.***> wrote:

[2022-09-29 10:59] Sfrjoshpro commented on #86
Ok I’ll run out and buy one more today. I’m currently using both with their
app.
 But definitely need your api for my custom software

I’ll reach back out later today

On Wed, Sep 28, 2022 at 22:56 Shaun Tarves ***@***.***> wrote:

[2022-09-29 16:24] Sfrjoshpro commented on #86
I’ll be home in 30-40mins

On Thu, Sep 29, 2022 at 06:59 Maine Er ***@***.***> wrote:

[2022-10-03 15:21] shauntarves commented on #74
@Jeppedy this has been merged in for a while. Have you been able to investigate whether things are working with your installed firmware?

[2022-10-03 17:06] #86 closed

[2022-10-03 20:33] shauntarves commented on #63
Oh this is super helpful. No one else has chimed in that actually is
running that firmware.

The original issue(s) were around the map being improperly parsed in
certain conditions. I don't think this was directly related to multi-floor
mappings, but rather to changes in the protobuf structure over time.

I actually have not ever understood *what* was needed to "support"
multi-floor. But, from wha

[2022-10-03 20:55] tbenz9 opened #90 "Does the Outdoor Plug report electric usage information?"
The Wyze Outdoor Plug has the ability to track electricity consumption on a day/week/month basis.  Does the SDK retrieve that usage data?

[2022-10-04 15:14] shauntarves opened #91 "Color bulb does not support delayed power actions"

[2022-10-05 19:18] #63 closed

[2022-10-05 19:25] shauntarves commented on #41
This has been added as a new field in `Bulb` called `control_mode` (https://github.com/shauntarves/wyze-sdk/blob/master/wyze_sdk/models/devices/lights.py#L159) and is backed by a new enum `LightControlMode` (https://github.com/shauntarves/wyze-sdk/blob/master/wyze_sdk/models/devices/lights.py#L11-L31)

[2022-10-05 19:25] #41 closed

[2022-10-05 19:25] #91 closed

[2022-10-10 02:41] jamespet77 opened #94 "Thermostat Room Sensors"
Is is possible to get the data from the thermostat room sensors?

[2022-10-10 21:56] shauntarves commented on #94
Hey @jamespet77, thanks for the question. I would love to add support for these! I didn't even know they existed until now.

So, what typically will happen with something like this is that I would need you to share the devices with me (temporarily) via the app. There is at least one open bug for the thermostat, so if you could share the sensor(s) and the thermostat, I can add support for this. My

[2022-10-10 22:09] jamespet77 commented on #94
I can do that.
just to confirm its shaun at tarves dot net

[2022-10-10 22:43] shauntarves commented on #94
Yessir!

On Mon, Oct 10, 2022 at 6:09 PM James Peterson ***@***.***>
wrote:

[2022-10-10 22:52] jamespet77 commented on #94
Sent.  It has one room sensor linked.  I have another room sensor if you need multiple.

[2022-10-11 07:52] shauntarves commented on #47
No, not yet. I’m struggling to understand what kind of use case there would
be for controlling the car this way. Happy to have any suggestions and I
can put it on my radar for sure!

On Fri, Jun 3, 2022 at 2:46 PM Will York ***@***.***> wrote:

[2022-10-11 08:23] shauntarves commented on #90
It does not currently have that, but I can add that feature pretty easily!
Give me a few days and I'll update the ticket when it's ready.

Do you have any preference on what the shape of the data objects look like?
If you're an avid user of the energy monitoring feature in the app, you
would know far better than me how you'd want to use the data.

On Mon, Oct 3, 2022 at 4:56 PM Thomas Bennett ***@

[2022-10-11 12:20] JoshuaMorris commented on #47
I want to control the car from the pi to automate the car to drive around my yard to chase animals out of my garden and to use it as a security drone. I would like to build an AI that can use this code to control the car

[2022-10-11 16:42] tbenz9 commented on #90
Wow, thank you for the reply and willingness to implement the feature.  The official Wyze App has no historical data for the energy usage.  At the end of every month the data is wiped and starts over from zero.  This makes it extremely difficult to compare 1 day/week/month to another to see trends.  My use case is simple, once an hour (or once a day) poll the plug and record the energy usage so I

[2022-10-12 12:19] MysticNynja commented on #47
Same for me.

[2022-10-14 15:47] #39 closed

[2022-10-14 15:53] shauntarves commented on #39
This functionality (and more!) has been added in https://github.com/shauntarves/wyze-sdk/releases/tag/v1.6.0

Please see the [PR comment](https://github.com/shauntarves/wyze-sdk/pull/95#issue-1409539329) for example code to display and control the access keys

[2022-10-19 21:43] shauntarves commented on #36
@bdwilson @alanjames1987

Sorry for the super-long delay on this. But, I finally had some time to revamp the vacuum controls to the newer style the apps are using. The branch https://github.com/shauntarves/wyze-sdk/tree/36-cancel-cleaning-vs-dock-for-vacuum has support for clean/pause/dock/stop.

There are several conditions that is handled by "stop":
- when a vac is on its way to recharge because

[2022-10-20 02:51] bdwilson commented on #36
Thanks for your continued work on this! I use this integration daily! I think my use case would use the "cancel" option (last bullet) if it was a separate action. The only issues I have today is when there isn't enough battery to finish a job, it goes home to charge, someone arrives home (which sends dock command), but it's on the dock already charging), then when the wife is cooking dinner it pop

[2022-10-20 04:10] anthonystabile opened #96 "Support for Wyze Filter"
_Support for Wyze Filter with potential use cases:_

**Control:**

- Auto
- Manual (Min/Mid/Max/Turbo)  Timer (1hr/2hr/4hr/8hr/custom) (Device Lock/Unlock)
- Sleep
- Off

**Report:**

- current/historical AQI
- Filter Type
- Filter %
- Pollens (Grass/Weed/Tree with scale 0-5)
- Notifications  (filter life/urgent air conditions)

Please reach out and I can share a device.

Best,
Anthony

[2022-10-20 16:18] shauntarves commented on #36
@bdwilson just pushed up changes that split the cancel and stop functionality and made "clean" either start or resume based on current state. Here's how the actions work:

* `clean` - starts a cleaning OR resumes a cleaning if the vac was paused mid-clean
* `pause` - pauses the vac while it's cleaning
* `dock` - cancels the current cleaning and returns the vac to the dock
* `stop` - the first 2 bu

[2022-10-20 16:54] shauntarves commented on #96
This sounds great. Love to scope this out for you. You know how to get in
touch with me already, so let's start the convo there.

On Thu, Oct 20, 2022 at 12:10 AM Anthony Stabile ***@***.***>
wrote:

[2022-10-20 17:10] bdwilson commented on #36
I will be home Sunday. I may be able to test remotely. Will let you know! Thanks again!

[2022-10-23 08:06] stevenwbuehler opened #97 "Cryptodome not installed when it is."
This is under Python 3.10.
[code]

[2022-10-23 15:27] shauntarves commented on #97
Hey @stevenwbuehler,

I specifically declare `pycryptodomex` (note the `x` at the end) in the `Pipfile`. I don't know too much about these modules, but it does appear that the `pycryptodomex` dependency calls its modules the same as the other `pycryptodome` library.

Maybe give that a shot?

[2022-10-23 22:36] stevenwbuehler commented on #97
That worked. There is also a module called `pycrytodome` (without the `x` at the end), so you may to include in your install instructions the correct module to install. :-) Thanks for your quick help!

[2022-10-23 22:36] #97 closed

[2022-10-26 20:52] #59 closed

[2022-10-27 00:08] bdwilson commented on #36
So I gave it a whirl tonight.  I was unable to cancel if it was cleaning.

wyze_sdk.errors.WyzeRequestError: Device cleaning cannot be canceled when in VacuumMode.CLEANING. Docking may be possible.

Then I sent it to charge (dock command), and tried to immediately cancel.
wyze_sdk.errors.WyzeRequestError: Device cleaning cannot be canceled when in VacuumMode.RETURNING_TO_CHARGE. Docking may be pos

[2022-10-27 00:47] shauntarves commented on #36
Unfortunately, cancel is only used to stop an unfinished cleaning when the
device has returned to charge.

Dock is the correct command to return the vacuum to the dock. Then you
could issue a "stop" to literally stop the vacuum where it is or a "clean"
to resume the cleaning process.

I just rebased this branch off master, which has a few new changes, so
maybe give it another try. Let me know if y

[2022-10-29 01:46] bdwilson commented on #36
Seemed to work tonight. Sent it to clean with 21% left, battery ran low, it went home on its own.  Then I issued cancel. No errors returned, but it did say something like "return stopped" (sorry, I should have written it down).   I'll see if it wakes up on its own later and starts to phantom clean.

[2022-10-29 12:12] bdwilson commented on #36
@shauntarves looking good on my end!

[2022-10-31 20:27] Sfrjoshpro opened #99 "Outdoor plug"
It was running for maybe hour or so
Then got this issue
(
![image](https://user-images.githubusercontent.com/14016441/199104176-62505ecb-d824-4ec7-94d6-a424ce639d23.jpeg)
)

[2022-11-01 13:22] Sfrjoshpro commented on #99
Changed from every 30s to 1min and haven't had a issue   Just 30s make it lock up

[2022-11-02 13:27] Sfrjoshpro commented on #99
After letting it run for almost a day half at 60 sec. It got the same error

Maybe it's limit with Wyze servers

[2022-11-02 13:46] shauntarves commented on #99
Yeah, that's what it feels like. It almost seems as if the creation of the
client is failing (probably due to excessive logins). My recommendation
would be to not create a new client continuously. The client is meant to be
long-lived, which is why there's a refresh capability to refresh the access
token.

Think of it this way: Creating a client (without passing an existing access
token) creates a

[2022-11-02 18:41] shauntarves commented on #94
@jamespet77 I've just pushed initial support for reading room sensor data to branch 94-thermostat-room-sensors

You can get a list of sensors connected to a thermostat by issuing:
[code]

The sensor object looks like this:
[code]

[2022-11-02 18:44] jamespet77 commented on #94
Thanks Shaun!!  big help.  Wyze needsto put you on the team.

[2022-11-02 18:47] shauntarves commented on #94
Give it a try and make sure it's working for your use cases. If so, I'll
merge to master and make a new release.

I'm going to use this opportunity to address
https://github.com/shauntarves/wyze-sdk/issues/51 and
https://github.com/shauntarves/wyze-sdk/issues/42 so might be a few days.

On Wed, Nov 2, 2022 at 2:44 PM James Peterson ***@***.***>
wrote:

[2022-11-02 21:00] shauntarves commented on #51
Closing due to lack of response. If a user is able to share a thermostat that is wired with fan controls, I'd be happy to look into this.

[2022-11-02 21:00] #51 closed

[2022-11-03 19:00] #36 closed

[2022-11-03 19:01] #94 closed

[2022-11-03 19:04] shauntarves commented on #42
Fixed

[2022-11-03 19:04] #42 closed

[2022-11-03 19:05] #99 closed

[2022-11-05 14:18] WindCoding-bots opened #102 "Got an error while entering my email and password"
Hello,
Im using the wyze-sdk for a personal project, during setup i got this error
Traceback (most recent call last):
  File "c:\Users\me\Desktop\Jarvis\main.py", line 24, in <module>
    client = Client(email=os.environ["email@email.com"], password=os.environ["password"])
  File "C:\Users\me\AppData\Local\Programs\Python\Python310\lib\os.py", line 679, in __getitem__
    raise KeyError(key) from

[2022-11-05 14:54] #102 closed

[2022-11-07 15:34] shauntarves commented on #50
Merged in #54

[2022-11-07 22:44] shauntarves commented on #66
@TheGreatSkeeve @JGirard8

Hey all...I finally pushed up some support for the Switch on https://github.com/shauntarves/wyze-sdk/tree/66-support-for-wyze-switch. As I mentioned, I have very limited access on @JGirard8's Switch, so I can't model some of the more advanced features yet, but basic controls are there.

Some commands shown down below if you want to try it out. If there's any other functi

[2022-11-08 23:25] shauntarves commented on #90
@tbenz9 Hey there...I started playing around with this today. Even though the app only shows you the current month, it appears we can retrieve the last 30 days with the API. I'm guessing they purge "old" data after 30 days.

That said, I don't think it's in the best interest of this project to get into the business of storing data, but I'm happy to provide the API point and any kind of formatting

[2022-11-08 23:55] tbenz9 commented on #90
Wonderful!  I apologize if I led you astray, it's certainly not in the scope of this project to store the data.  My use case is to keep the data longer than 30 days, which I'll do by querying daily and storing elsewhere.

I'm completely satisfied with the data you've provided.  If I were to offer any minor suggestions it would be to offer a `daily_total` option so the user doesn't have to add all

[2022-11-09 00:37] tbenz9 commented on #90
I haven't personally tested it yet, but It's all good with me!

[2022-11-09 03:23] tbenz9 commented on #90
I think you (and now I) actually made an interesting discovery.  The Indoor plugs have usage data too, but that usage data is not accessible anywhere in the official Wyze app as far as I can tell.  I did not know the indoor plugs tracked electrical usage data!

[2022-11-09 17:14] shauntarves commented on #90
@tbenz9 I just pushed some new changes to handle both types of usage records. Unfortunately, it means you'll have to pass the device model into the call to get usage records:

[code]

That will either return a list of `PlugUsageRecord` objects for indoor plugs (time-based usage measurements) or `PlugElectricityConsumptionRecord` for outdoor plugs (watt-hour usage). The `total_usage` property for e

[2022-11-09 19:21] #81 closed

[2022-11-10 04:52] tbenz9 commented on #90
That sounds like an elegant and reasonable solution to me.  Thanks again!

[2022-11-10 13:06] #90 closed

[2022-11-13 22:57] zvarnes commented on #45
@shauntarves I'm using the test script which sets the environment variables when run and I'm still getting this error. It's unclear to me how to resolve this

[2022-11-18 18:40] carTloyal123 opened #105 "Persistent 2FA Storage"
Great library first of all. I am excited to try some of this with a hombridge plugin  to bridge the gap between cameras and devices using the wyze_docker repo.

My question is, can I persist my 2FA authentication between python sessions? At the moment, every time I re-run a test script, I also have to input my 2FA key which is fine but for instance in an automatic scenario where I restart  my appl

[2022-11-20 02:08] tony-tiger opened #106 "Unknown device type detected"
Unknown device, Wyze wall switch not detected.  Basic device information listed below.  I tried making a python program that would allow me to turn ON / OFF outside lights. I appears the SDK code does not have support for wall switches. Thanks for your support.

Unknown device type detected ({'mac': 'LD_SS1_7C78BXXXXXXX', 'first_activation_ts': 1657860703000, 'first_binding_ts': 1657860703000, 'en

[2022-11-20 13:25] shauntarves commented on #106
@tony-tiger Thanks for the issue. I've actually already built support for the Switch, but have been awaiting another set of eyes on it before merging to `master`. Please check out #104 for details. If you're able to give it a test drive, and let me know if it's working for you, I'll merge it in and create a new release!

[2022-11-20 13:31] shauntarves commented on #105
@carTloyal123 You have a few options here...

1. When you [create your `Client`](https://github.com/shauntarves/wyze-sdk/blob/master/wyze_sdk/api/client.py#L40-L57), pass in the `totp_code` for your 2FA (this is the code you first used to set up your 2FA app and is the seed for generating the 6 digits you use each time) and the library will automatically generate the 2FA for you, no human interact

[2022-11-20 19:44] carTloyal123 commented on #105
Hi @shauntarves

Thank you for the quick response and again loving this repo. I will try both options as described so thank you!

[2022-11-21 16:54] carTloyal123 commented on #105
Question answered, thank you!

[2022-11-23 15:41] theotherguy2175 opened #107 "2FA support?"
My account is setup with 2FA will this cause an issue to use this?

[2022-11-23 17:37] carTloyal123 opened #108 "Thermostat Temperature Setpoint"
What are the units of the thermostat function calls? Is it always in Fahrenheit when interacting with the Thermostat? Also is there a way to have a function call to change what units the device is currently using? For example in the app you can change the units from F to C and vice versa. Is this supported and I might have missed it? Thanks again, love the repo!

[2022-11-23 19:06] carTloyal123 commented on #105
@shauntarves Sorry to bring this back up, would you possibly be able to point me in the direction of where to get the access_token and refresh_token so that I can save them locally to use later? I ask this because I am working on a Hombridge plugin that will use wyze-sdk similar to RMCob's Wyze Vaccuum plugin but I would like to support 2FA without having to re-auth all the time.

As far as I can

[2022-11-23 20:36] Sfrjoshpro opened #109 "Question"
Can we have a Auto update on the token when it need refresh?

[2022-11-26 22:40] carTloyal123 commented on #108
Trial and error shows that the device communicates in whatever the current temperature units are which makes sense. Thanks!

[2022-11-26 22:40] #108 closed

[2022-11-26 22:45] carTloyal123 opened #110 "Getting NoneType Object Not Scriptable when creating new Client"
When creating new client object with just email and password, python errors and returns the following:

[code]

This seems to be an intermittent issue like sometimes it will happen and sometimes it will work totally fine. Any suggestions welcome and would be good to have for further development.

[2022-11-27 23:42] kevans2226 opened #111 "Getting a NoneType When using the client.scales"
When I run this command:

 scale = client.scales.info(device_mac='WL_SC2_7C78B2FBFDF9')

I get the NoneType.  I'm using the the "S" series scale, and I was wondering if that was supported yet?

Thanks,
Keith

[2022-11-28 01:19] carTloyal123 commented on #110
It looks like this is a recurring issue of some sort. Any way to handle this in the background or present an WyzeAPI error instead?

[2022-11-28 15:15] shauntarves commented on #107
@theotherguy2175 not at all. This library has full support for 2FA. You can either create a client and enter a 2FA **code** manually when prompted, or you can provide you totp **key** to the client creation and the 2FA code will be automatically input for you:

[code]

[2022-11-28 15:18] shauntarves commented on #110
I can look into this a bit. If you're able to provide some more detail, it might speed things up. Does this account have 2FA enabled? Please run the same code with debugging enabled and share the result:

[code]

[2022-11-28 15:20] shauntarves commented on #111
@kevans2226 I will need to look into that. Chances are, I'll need to add some code to support the new device. We have a few options:

1. Run the code with debug enabled and share the logs so I can see what's going on: `wyze_sdk.set_stream_logger('wyze_sdk', level=logging.DEBUG)` before your call to `client.scales.info`
2. If you are willing to share the device with me via the app (shaun <at> tarve

[2022-11-28 15:35] shauntarves commented on #105
hey @carTloyal123,

Let's start by clarifying a few things: a TOTP _code_ is what we generally call the 6 digits that you enter each time you want to log in and get prompted for the 2-factor code. The TOTP _key_ is the string of letters/numbers that you put into your authenticator app to generate those codes.

I mis-typed in my response above, which should have read "pass in the `totp_key`...". Th

[2022-11-28 15:38] shauntarves commented on #109
Hey @Sfrjoshpro, that's probably something that would be coded at the "application" level, not at this library level. I would have to play around with the code a bit to see if I can extract the access token expiration date from the access token and provide that as part of the client object.

The client already has a `refresh_token()` method, but it must be called manually. Please also see my comme

[2022-11-28 16:21] carTloyal123 commented on #110
Hey @shauntarves thanks for the reply. Please see the debug output below:

Only redacted the password hash for safety. Please let me know if I should remove other pieces of this as well and if this provides any insight into potential issues.

[code]

[2022-11-28 16:29] shauntarves commented on #110
`client = Client(email=sys.argv[1], password=os.sys.argv[2])`

This line ^^ - is it possible that the password isn't getting properly passed and we're hashing an empty string? A shot in the dark since you have `sys.argv` in one case and `os.sys.argv` in the other.

Ultimately, it seems like the response object is `NoneType`, which I've not seen before, so that leads me to think that the request is

[2022-11-28 19:13] carTloyal123 commented on #105
Update: I also frequently get an issue as shown below which I am also hoping to resolve using the stored token method of some kind.

[code]

This seems to be a cooldown of some kind on the Wyze side resulting from logging in too many times or killing the python script before logins complete. I am not sure the final cause but I am looking for ways to avoid this issue.

[2022-11-28 20:38] Sfrjoshpro commented on #109
Ok I’ll play with it. I was trying to play with the refresh option but i
struggled, I’ll put more time into it. 😊

On Mon, Nov 28, 2022 at 10:38 Shaun Tarves ***@***.***> wrote:

[2022-11-29 00:38] Sfrjoshpro commented on #105
I had the same issues. I had to initiate client then pass the object

[2022-11-29 00:54] kevans2226 commented on #111
Thank you for the response.  I am not sure what you mean from share the device with you via the app (what do you need from me username/password?)

I did set the logging level to DEBUG and this is what I get back:

2022-11-28 18:17:54,665 [DEBUG] wyze_sdk.api.client: access token not provided, attempting to login as keith@seekthecomputergeek.com
2022-11-28 18:17:54,665 [DEBUG] wyze_sdk.service.base

[2022-11-29 05:05] carTloyal123 commented on #105
A solution very similar to what has been done here:
https://github.com/jfarmer08/homebridge-wyze-smart-home/blob/65059d19b9c800f11546ba2f07ac270ab2ee6dc9/src/WyzeAPI.js#L206

Just writing to persistent storage and checking if that token is available from storage, otherwise login as normal. I am going to take a crack at a rough implementation to see if I can get it working then come back once there

[2022-11-29 13:15] shauntarves commented on #111
Hey @kevans2226,

What I meant by share via the app is that you can actually "share" your Wyze device with other users (for example a spouse or someone else living in your house) for them to view/control. If you share it with my email address, I can at least try to list it and get info on it and see what is busted. You can usually find this by going into the device settings in the app and clicking

[2022-11-29 13:24] shauntarves commented on #66
@TheGreatSkeeve @JGirard8 Last call for some testing on this, otherwise, I'll merge it to master tomorrow and create a new release.

[2022-11-29 15:01] mschindler504 opened #112 "Garage Door and Floodlight Support"
First off, great work!

Hopefully I didn't overlook this, but I was wondering if there was support for accessing/controlling the accessories that connect to the Cam v3's, specifically garage door, and the floodlight?

[2022-11-29 15:18] shauntarves commented on #112
Hi there...thanks for your interest in the library!

I don't currently have any support for these types of devices. I am absolutely willing to add support, but that will generally require [at least temporary] access to the devices so I can debug them and understand the API contract.

If you're willing to share the devices with me for a bit of time via the Wyze app (my account email is shaun <at> t

[2022-11-29 15:36] mschindler504 commented on #112
Good deal!

As for support, for the floodlights, the ability to see current light status (on/off), would be great to toggle the device on/off, but I guess there's no big need to change any settings.

Same concept with the garage door... See the status, open/close the garage (as you can do in the app), but really don't see any need or extra efforts in changing settings/properties.

Will share a flo

[2022-11-29 16:22] shauntarves commented on #112
Okay, please let me know when you share it. Nothing has come through yet

[2022-11-29 19:51] mschindler504 commented on #112
Floodlight was shared. Will share the garage in a few hours.

Let me know if you need anything else!

[2022-11-29 22:14] shauntarves commented on #112
Okay, I've got the floodlight now. Give me a little time with this. Don't be surprised if I kick it on and off a few times 🤣

Let me know when you share the garage door.

[2022-11-29 23:44] mschindler504 commented on #112
Garage Door is shared!

[2022-11-29 23:47] kevans2226 commented on #111
Hi @shauntarves, I believe I granted you access through the app, please let me know if you need anything else.

Thanks for all your help,
Keith

[2022-11-30 01:10] guyfromhe commented on #110
I wrote a custom program and the username, pw and 2FA are hardcoded into the client line so nothing is being passed, and mine randomly stops working as well with the same NoneType error... It's been going on for months but I haven't been home to see the actual error or what's going on until now.

I have a process that keeps restarting the program every few minutes and it usually does this for an h

[2022-11-30 04:28] carTloyal123 commented on #110
@guyfromhe thank you for confirming this also happens to you. It definitely seems to be a Wyze thing since I can try to log into the website when this happens and of course I get the same message. I assume a bunch of close together login attempts trigger a security lock on an account that has some arbitrary cool down. It is strange though how it only happens sometimes and not others. I think some